* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

p {
	/* padding: 0 20px 0; */
}

ul {
	margin-top: 20px;
	padding-left: 60px;
}

#arc-word-art {
}

.italic {
	font-style: italic;
}

h1 {
	font-weight: 500;
	font-size: 2.4rem;
	margin-top: 85px;
	margin-bottom: 40px;
}

#club-name-header {
	text-decoration: underline;
}

p {
	font-size: 1.25rem;
	width: 600px;
}

li {
	font-size: 1.1rem;
	margin-bottom: 8px;
	transform: translate(0, -10px);
}

.pic {
	border-radius: 8px;
	border: solid 2px rgb(43, 43, 43);
	/* transform: translate(-150px, 0); */
}

#header {
	text-align: center;
	margin: 200px 0 30px 0;
}

#text-content {
	margin-top: -20px;
	/* background-color: rgb(215, 228, 213); */
	border-radius: 20px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 640px;
}

.animal-img {
	width: calc(640px - 40px);
	margin: 20px 0;
}

#imgs-fish {
	margin: 0 0 20px 0;
}

#pot-activity {
	margin: 20px 0 0 0;
}

.imgs, #yt-row {
	/* display: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: 800px;
	margin: 40px 0; */

}

.yt-vid-container {
	width: 50%;
}

.yt-vid, iframe {
	display: inline-block;
	text-align: center;
	width: 295px;
	height: 167px;
}

#yt-row {
	/* margin-top: 10px; */
	/* position: relative; */
	/* left: 50%; */
	/* margin-left: auto;
	margin-right: auto; */
	/* transform: translate(-50%); */
}

.yt-vid-1 {
	/* margin-left: 10px; */
}

.yt-vid-2 {
	/* float: right; */
}

.outer-container {
}

#real-talk {
	margin: 40px 60px 0;
	width: 480px;
	/* position: relative;
	left: 40px;
	right: 40px;
	margin-top: 50px; */
}

.bold {
	font-weight: 600;
}

.emph {
	font-style: italic;
}


.section {
	outline: solid black 2px;
	border-radius: 10px;
	/* width: calc(100% + 50px); */
	margin-bottom: 20px;
}

.section-inner {
	padding: 20px;
}

.video-links {
	font-size: 1.25rem;
}

#qr-survey {
	margin-top: 140px;
	margin-left: 50%;
	transform: translate(-50%, 0);
}

#or-click-here {
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 10px 0 160px;
	font-size: 1rem;
}